.d-flex {
	display: flex;
}
.jcsb {
	justify-content: space-between;
}
.aic {
	align-items: center;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-nowrap {
	flex-wrap: nowrap;
}
.flex-grow-1 {
	flex-grow: 1;
}
.flex-grow-0 {
	flex-grow: 0;
}